* {
    box-sizing: border-box;
}

.img {
    width: 90%;
    margin-left: 10px;
}

.h5 {
    
    justify-content: center;
    text-align: center;
}

.i1 {
    width: 33%;
    float: left;
    justify-content: center;
    
}
#div2 {
    width: 100%;
    background-color: gray;
    padding: 50px;
    display: flex;
}

#h32{
    
    
}
#h3{
    float: right;
    display: flex;
    
}