#div1 {
    width: 25%;
    height: 100px;
    background-color: pink;
    text-align: center;
    float: left;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 20px;
    text-decoration: dotted black;
}

#div2 {
    width: 25%;
    height: 100px;
    background-color: aqua;
    text-align: center;
    float: left;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 20px;
}

#div3 {
    width: 25%;
    height: 100px;
    background-color: sienna;
    text-align: center;
    float: right;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 20px;
}

#div4 {
    width: 25%;
    height: 100px;
    background-color: rgba(45, 18, 109, 0.692);
    text-align: center;
    float: right;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 20px;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }