#div1 {
    float: right;
    padding: 50px;
    background-color: pink;
}

#div2 {
    float: left;
    padding: 50px;
    background-color: aqua;
}

#div3 {
    float: left;
    padding: 50px;
    background-color: coral;
}