#div1 {
    width: 100px;
    height: 100px;
    background-color: pink;
    text-align: center;
    float: right;
    justify-content: center;
    align-items: center;
    display: flex;
}

#div2 {
    width: 100px;
    height: 100px;
    background-color: aqua;
    text-align: center;
    float: left;
    justify-content: center;
    align-items: center;
    display: flex;
}

#div3 {
    width: 100px;
    height: 100px;
    background-color: sienna;
    text-align: center;
    float: left;
    justify-content: center;
    align-items: center;
    display: flex;
}