#div1 {
    width: 100px;
    height: 100px;
    background-color: pink;
    text-align: center;
    float: right;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 10px;
}

#div2 {
    background-color: aqua;
    display: inline;
    float: left;
}

#div3 {
    background-color: sienna;
    display: inline;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    clear: none;
}

p {
    float: left;
}