
header{
    padding: 15px;
    background-color: gray;
    margin-bottom: 10px;    text-align: right;

}

footer{
    padding: 15px;
    background-color: gray;
    margin-top: 10px;    text-align: right;

}
.imagen_HTML{
    width: 100px;
    height: 100px;
}
.Width-Maximum{
    width: 100%;
}
.container{
    margin: 0 auto;
}