* {
    box-sizing: border-box;
}

#sp1 {
    background-color: aquamarine;
}

#spJ {
    position: relative;
    display: none;
    width: 150px;
    left: 40px;
    background-color: yellow;
}

#maps {
    width: 500px;
    height: 450px;

}

#flechaUp {
    background-color: #2b272793;
    border-radius: 50%;
    position: fixed;
    bottom: 30px;
    right: 50px;
    width: 40px;
    padding: 15px;
}

#flechaUP {}

#cj1,
#cj2,
#cj3,
#cj4,
#cj5 {
    height: 200px;
    padding: 20px;
    margin: 0px;
    font-size: 16pt;
}

#cj1 {
    background: greenyellow;
}

#cj2 {
    background: rgb(190, 25, 53);
}

#cj3 {
    background: lightblue;
}

#cj4 {
    background: pink;
}

#cj5 {
    background: blue;
}

.clearfix::after,
.row::after {
    content: "";
    clear: both;
    display: table;
}

img {
    width: 100%;
}

aside {
    display: block;
}

#container {
    height: 200px;
    background-image: url("../img/html5-wallpaper.jpg");
    background-position: center;
}

#contenedor {
    background-color: gray;
}

#name {
    width: 100%;
}

#apellidos {
    width: 100%;
}

#texto {
    width: 100%;
}

#email {
    width: 100%;
}

#enviar {
    margin: 0 auto;
    margin-bottom: 4px;
    display: block;
}

#imgtext1 {
    text-align: center;
}

#header {
    background-color: #333;
    overflow: auto;
    position: sticky;

}

#header a {
    padding: 14px 18px;
    color: white;
    text-decoration: none;
}

#header a:hover {
    background-color: red;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}