.divtexto {
    background-color: coral;
}

.div1 {
    float: right;
    padding: 50px;
    background-color: pink;
    margin-left: 50px;
}

.div2 {
    float: left;
    padding: 5px;
    background-color: aqua;
}